{% extends "main.html" %}

{% block title %}
  403
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-1 text-danger">403</h1>
      <h2 class="mb-4">Accès interdit</h2>
      <p class="lead">
        Désolé, vous n'êtes pas autorisé à accéder à cette page.
      </p>
      <a href="{% url 'payments' %}" class="btn btn-list" style="width: 300px">Retour à la liste des paiements</a>
    </div>
  </div>
</div>
{% endblock %}
